@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: #112344;
        --color-secondary: #449099;
    }
}

@layer components {
    .bg-primary {
        background-color: var(--color-primary);
    }
    .bg-secondary {
        background-color: var(--color-secondary);
    }
    .text-primary {
        color: var(--color-primary);
    }
    .text-secondary {
        color: var(--color-secondary);
    }
    .border-primary {
        border-color: var(--color-primary);
    }
    .border-secondary {
        border-color: var(--color-secondary);
    }
    .hover\:bg-primary:hover {
        background-color: var(--color-primary);
    }
    .hover\:bg-secondary:hover {
        background-color: var(--color-secondary);
    }
    .hover\:text-primary:hover {
        color: var(--color-primary);
    }
    .hover\:text-secondary:hover {
        color: var(--color-secondary);
    }
    .focus\:ring-primary:focus {
        --tw-ring-color: var(--color-primary);
    }
    .focus\:ring-secondary:focus {
        --tw-ring-color: var(--color-secondary);
    }
    .focus\:border-primary:focus {
        border-color: var(--color-primary);
    }
    .focus\:border-secondary:focus {
        border-color: var(--color-secondary);
    }
}
